@import "../variables";

.b-game-ground {
  display: inline-grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5vw;
  padding: 0.5vw;
  background-color: $gray-400;

  &__cell {
    display: flex;
    width: 4vw;
    height: 4vw;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    background-color: $gray-100;
    border-radius: 0.25vw;

    &--selected {
      background-color: $gray-300;
    }
  }
}
