@import "../variables";
@import "../mixins/m-game-panel";

.b-game-ground {
  @include m-game-panel();

  display: inline-grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.2rem;

  &__cell {
    display: flex;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    background-image: url("../../images/cell.png");
    background-size: cover;

    &--selected {
      filter: brightness(150%);
    }
  }
}
