.b-game-tile {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  background-size: cover;

  &--small {
    width: 2rem;
    height: 2rem;
  }

  &--air {
    background-image: url("../../images/tile-air.png");
  }

  &--earth {
    background-image: url("../../images/tile-earth.png");
  }

  &--fire {
    background-image: url("../../images/tile-fire.png");
  }

  &--lightning {
    background-image: url("../../images/tile-lightning.png");
  }

  &--water {
    background-image: url("../../images/tile-water.png");
  }
}
